{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>قالب فرم عضویت و ورود :: دریافت شده از وب روبیک</title>
	<!-- start css and styles -->
	<link rel="stylesheet" href="{% static 'accounts/css/font-awesome.min.css' %}">
	<link type="text/css" href="{% static 'accounts/css/style.css' %}" rel="stylesheet" />
	<!-- end css and styles -->
</head>
<body>
	<div class="container" id="container">
		<!-- start sing up form -->
		<div class="form-container sign-up-container">
			<form action="" method="post">
				<h1>ایجاد حساب</h1>
				{% csrf_token %}
				<span>یا با ایمیل خود حساب ایجاد کنید</span>
				<input name="username" type="text" placeholder="نام کاربری" />
				<input name="email" type="email" placeholder="ایمیل" />
				<input name="password1" type="password" placeholder="رمز عبور" />
				<input name="password2" type="password" placeholder="تایید رمز عبور" />
				
				<button type="submit" name ="signup_form">عضویت</button>
			</form>
		</div>
		<!-- end sing up form -->
		<!-- start sing in form -->
		<div class="form-container sign-in-container">
			<form action="" method="post">
				<h1>ورود</h1>
				{% csrf_token %}
				<span>یا با حساب خود وارد شوید</span>
				<input name = "username" type="text" placeholder="نام کاربری" />
				<input name="password" type="password" placeholder="رمز عبور" />
				<a href="#">رمز عبور خود را فراموش کرده ام !</a>
				<button type="submit" name = "login_form">ورود</button>
				
			</form>
		</div>
		<!-- end sing in form -->

		<div class="overlay-container">
			<div class="overlay">
				<!-- start sing in overlay -->
				<div class="overlay-panel overlay-right">
					<h1>خوش آمدید</h1>
					<p>برای برقراری ارتباط با ما لطفا حساب کاربری خود را ایجاد کنید</p>
					<button class="ghost" id="signIn">ورود</button>
				</div>
				<!-- end sing in overlay -->
				<!-- start sing up overlay -->
				<div class="overlay-panel overlay-left">
					<h1>سلام، دوست خوبم</h1>
					<p>وارد حساب کاربری خود شوید و با ما به کشف جهان بپردازید</p>
					<button class="ghost" id="signUp">عضویت</button>
				</div>
				<!-- end sing up overlay -->
			</div>
		</div>
	</div>
	<!-- start footer -->
	
	<!-- end footer -->

	<!-- start javascript -->
	<script  src="{% static 'accounts/js/scripts.js' %}"></script> 
</body><!-- This template has been downloaded from Webrubik.com -->
</html>
