{% extends 'base.html' %}
{% load static %}
{% block content%}

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5"  style="font-family: 'Vazir', sans-serif;">
        <h1 class="text-center text-white display-6"  style="font-family: 'Vazir', sans-serif;">{{ post.title }}</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="{% url 'website:index' %}">خانه</a></li>
            <li class="breadcrumb-item"><a href="{% url 'articles:index'}">مقالات</a></li>
            <li class="breadcrumb-item active text-white">{{ post.title }}</li>
        </ol>
    </div>
    <!-- Single Page Header End -->

    <!-- Single Article Start -->
    <div class="container-fluid py-5 mt-5" style="font-family: 'Vazir', sans-serif; direction: rtl; text-align:right;">
        <div class="container py-5">
            <div class="row g-4 mb-5">
                <div class="col-lg-8 col-xl-9">
                    <div class="row g-4">
                        <!-- Main Image -->
                        <div class="col-lg-12">
                            
                                <div class="image-wrapper">
                                    <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="{{ post.title }}">
                                </div>
                
                        </div>
                        
                        <!-- Article Content -->
                        <div class="col-lg-12">
                            <h4 class="fw-bold mb-3" style="font-family: 'Vazir', sans-serif;">{{ post.title }}</h4>
                            <p class="mb-3">
                                <span><strong>تاریخ انتشار:</strong> {{ post.published_date|date:"d M Y" }}</span>
                                <span class="ms-4"><strong>بازدید:</strong> {{ post.counted_views }}</span>
                            </p>
                            <p>{{ post.text|safe }}</p>
                        </div>
                        
                        <!-- Comments Section -->
                        <div class="col-lg-12">
                            <nav>
                                <div class="nav nav-tabs mb-3">
                                    
                                    <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                        id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                        aria-controls="nav-mission" aria-selected="false">نظرات</button>
                                </div>
                            </nav>
                            <div class="tab-content mb-5">
                                
                                <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                    {% for comment in comments %}
                                    <div class="d-flex">
                                       
                                        <div class="">
                                            <p class="mb-2" style="font-size: 14px;">{{comment.created_date|date:"d M Y"}}</p>
                                            <div class="d-flex justify-content-between">
                                                <h5>{{comment.name}}</h5>
                                                <div class="d-flex mb-3">
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <p>{{comment.message}} 

                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                                <form  method="post" action="{% url 'articles:single' pid=post.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="post" value="{{ post.id }}">
    
                                    <h4 class="mb-5 fw-bold" style="font-family: 'Vazir', sans-serif;">نظر دهید</h4>
                                    <div class="row g-4">
                                        <div class="col-lg-6">
                                            <div class="border-bottom rounded">
                                                <input name = "name" type="text" class="form-control border-0 me-4" placeholder="اسم*">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="border-bottom rounded">
                                                <input name ="email" type="email" class="form-control border-0" placeholder="ایمیل*">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="border-bottom rounded my-4">
                                                <textarea name="message" id="" class="form-control border-0" cols="30" rows="8" placeholder="نظر شما *" spellcheck="false"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="border-bottom rounded my-4">
                                                {{ form.captcha }}  <!-- This will render the captcha field -->
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="d-flex justify-content-between py-3 mb-5">
                                                <div class="d-flex align-items-center">
                                                    <p class="mb-0 me-3">Please rate:</p>
                                                    <div class="d-flex align-items-center" style="font-size: 12px;">
                                                        <i class="fa fa-star text-muted"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <button  type='submit'  class="btn border border-secondary text-primary rounded-pill px-4 py-3"> ارسال</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
    
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar for Related Articles -->
             
            </div>
        </div>
    </div>
    <!-- Single Article End -->

{% endblock %}
