{% extends 'base.html' %}
{% load static %}
{% block content%}


<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">مقالات</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'website:index' %}">خانه</a></li>
        
        <li class="breadcrumb-item active text-white"> مقالات</li>
    </ol>
</div>
<!-- Articles Start -->
<div class="container py-5">
    <div class="row g-5">
        <div class="col-lg-12">
            <h1 class="mb-4">مقالات</h1>
        </div>

        <!-- Article 1 -->
        {% for post in posts %}
        <div class="col-lg-12">
            <div class="card border-0 shadow-sm">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{post.image.url}}" class="img-fluid rounded-start" alt="Article 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{post.name}}</h5>
                            <p class="card-text">
                                {{post.text|truncatewords:20}}
                            </p>
                            <a href="#" class="btn btn-primary">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

   




    </div>
</div>
<!-- Articles End -->

{% endblock %}