{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}
{% block content%}



        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5" style="font-family: 'Vazir', sans-serif;">
            <h1 class="text-center text-white display-6" style="font-family: 'Vazir', sans-serif;">فروشگاه</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'website:index' %}">خانه</a></li>
                <li class="breadcrumb-item active text-white">فروشگاه</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5" style="font-family: 'Vazir', sans-serif; direction: rtl; text-align:center;">
            <div class="container py-5">
                <h1 class="mb-4" style="font-family: 'Vazir', sans-serif; direction: rtl; text-align:right;">محصولات</h1>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="row g-4">
                            <div class="col-xl-3">
                                <div class="input-group w-100 mx-auto d-flex">
                                    <form class="search-form" action="{% url 'shop:search' %}" method="get" style="display: flex; width: 100%;">
                                        <input type="search" name="s" class="form-control p-3" placeholder="جستجو" aria-describedby="search-icon-1">
                                        <button id="search-icon-1" class="input-group-text p-3" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                                
                            </div>
                            <div class="col-6"></div>
                            <form method="GET" id="fruitform">
                                <div class="col-xl-3">
                                    <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                        <label for="sorting">فیلتر:</label>
                                        <select id="sorting" name="sort" class="border-0 form-select-sm bg-light me-3" onchange="this.form.submit()">
                                            <option value="" {% if sort_option == "" %}selected{% endif %}>همه</option>
                                            <option value="popularity">محبوبیت</option>
                                            <option value="price">قیمت</option>
                                            <option value="discount">بیشترین تخفیف</option>
                                        </select>
                                    </div>
                                </div>
                            </form>                            
                        </div>
                        <div class="row g-4">
                           
                            <div class="col-lg-3">
                                <div class="row g-4">
                                   {% shopcategory %}
                                   <form method="GET" id="priceForm">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <h4 class="mb-2" style="font-family: 'Vazir', sans-serif;">قیمت</h4>
                                            <input type="range" class="form-range w-100" id="rangeInput" name="price_range" min="0" max="{{max_price}}" value="{{ request.GET.price|default:0 }}" 
                                            oninput="amount.value=rangeInput.value" onchange="this.form.submit()">
                                            <output id="amount" name="amount" for="rangeInput">{{ request.GET.price_range|default:0 }}</output>
                                        </div>
                                    </div>
                                   </form>
                                
                                    
                                    
                                    {% discount_tag  %}
                                   
                                   
                                </div>
                            </div>
                            <div class="col-lg-9">
                               
                                <div class="row g-4 justify-content-center">
                                    {% for product in products %}
                                    
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        
                                        <div class="rounded position-relative fruite-item">
                                            
                                            <div class="fruite-img">
                                                <img src="{{product.image.url}}" class="img-fluid w-100 rounded-top" alt="" >
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{product.tags.name}}</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <a href="{% url 'shop:single' pid=product.id  %}"><h4 style="font-family: 'Vazir', sans-serif;">{{product.name}}</h4></a>
                                                <p>{{product.content|truncatewords:10}}</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">{{product.price}}</p>
                                                    <a href="{% url 'shop:add_to_cart' product.id %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i>افزودن به سبد</a>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    
                                    {% endfor %}
                                   
                                    
                                    
                                    
                                   
                                    
                                    
                                    
                                    <div class="col-12">
                                        <div class="pagination d-flex justify-content-center mt-5">
                                            {% if products.has_previous %}
                                                <a href="?page=1" class="rounded">&laquo;</a>
                                                <a href="?page={{ products.previous_page_number }}" class="rounded">قبل</a>
                                            {% else %}
                                                <a href="#" class="rounded disabled">&laquo;</a>
                                                <a href="#" class="rounded disabled">قبل</a>
                                            {% endif %}
                                    
                                            {% for page_num in products.paginator.page_range %}
                                                {% if products.number == page_num %}
                                                    <a href="?page={{ page_num }}" class="active rounded">{{ page_num }}</a>
                                                {% else %}
                                                    <a href="?page={{ page_num }}" class="rounded">{{ page_num }}</a>
                                                {% endif %}
                                            {% endfor %}
                                    
                                            {% if products.has_next %}
                                                <a href="?page={{ products.next_page_number }}" class="rounded">بعد</a>
                                                <a href="?page={{ products.paginator.num_pages }}" class="rounded">&raquo;</a>
                                            {% else %}
                                                <a href="#" class="rounded disabled">بعد</a>
                                                <a href="#" class="rounded disabled">&raquo;</a>
                                            {% endif %}
                                        </div>
                                    
                                        <div class="text-center mt-3">
                                            <span class="current">Page {{ products.number }} of {{ products.paginator.num_pages }}.</span>
                                        </div>
                                    </div>
                                  
                                    
                                </div>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fruits Shop End-->

    {% endblock %}
</html>