{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}
{% block content%}



        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5" style="font-family: 'Vazir', sans-serif;">
            <h1 class="text-center text-white display-6" style="font-family: 'Vazir', sans-serif;">{{products.name}}</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'website:index' %}">خانه</a></li>
                <li class="breadcrumb-item"><a href="{% url 'shop:shop' %}">محصولات</a></li>
                <li class="breadcrumb-item active text-white">{{products.name}}</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- Single Product Start -->
        <div class="container-fluid py-5 mt-5" style="font-family: 'Vazir', sans-serif;">
            <div class="container py-5">
                <div class="row g-4 mb-5" style =" direction: rtl; text-align:right;">
                    <div class="col-lg-8 col-xl-9">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="border rounded">
                                    <a href="#">
                                        <img src="{{products.image.url}}" class="img-fluid rounded" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="fw-bold mb-3">{{products.name}}</h4>
                                <p class="mb-3">دسته بندی: {{products.category.all|join:" ,"}}</p>
                                <h5 class="fw-bold mb-3">{{products.price}}</h5>
                                <div class="stars">
                                    {% for i in "12345"|make_list %}
                                    <span class="star">{% if i <= products.rating|floatformat:0 %}<i class="fa fa-star text-secondary"></i> {% else %}<i class="fa fa-star"></i>{% endif %}</span>
                                    {% endfor %}
                                </div>

                                <p class="mb-4"></p>
                                
                                <div class="input-group quantity mb-5" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border" >
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm text-center border-0" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <a href="{% url 'shop:add_to_cart' products.id %}" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> افزودن به سبد</a>
                            </div>
                            <div class="col-lg-12">
                                <nav>
                                    <div class="nav nav-tabs mb-3">
                                        <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                            id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                            aria-controls="nav-about" aria-selected="true">توضیحات</button>
                                        <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                            id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                            aria-controls="nav-mission" aria-selected="false">نظرات</button>
                                    </div>
                                </nav>
                                <div class="tab-content mb-5">
                                    <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                        <p>{{products.content}}</p>
                                        
                                        <div class="px-2">
                                            <div class="row g-4">
                                                <div class="col-6">
                                                    <div class="row bg-light align-items-center text-center justify-content-center py-2">
                                                        <div class="col-6">
                                                            <p class="mb-0">برند</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="mb-0">{{products.brand_name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row text-center align-items-center justify-content-center py-2">
                                                        <div class="col-6">
                                                            <p class="mb-0">وضعیت</p>
                                                        </div>
                                                        
                                                        <div class="col-6">
                                                            {% if products.store_status %}
                                                            <p class="mb-0">موجود</p>
                                                            {% else %}
                                                            <p class="mb-0"> ناموجود </p>
                                                            {% endif %}

                                                        
                                                        </div>
                                                    </div>
                               
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                        {% for comment in comments %}
                                        <div class="d-flex">
                                           
                                            <div class="">
                                                <p class="mb-2" style="font-size: 14px;">{{comment.created_date|date:"d M Y"}}</p>
                                                <div class="d-flex justify-content-between">
                                                    <h5 style="font-family: 'Vazir', sans-serif;">{{comment.name}}</h5>
                                                    <div class="d-flex mb-3">
                                                        <i class="fa fa-star text-secondary"></i>
                                                        <i class="fa fa-star text-secondary"></i>
                                                        <i class="fa fa-star text-secondary"></i>
                                                        <i class="fa fa-star text-secondary"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <p>{{comment.message}} 

                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
        
                                </div>
                            </div>
                            <form  method="post" action="{% url 'shop:single' pid=products.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="product" value="{{ products.id }}">

                                <h4 class="mb-5 fw-bold" style="font-family: 'Vazir', sans-serif;">نظر دهید</h4>
                                <div class="row g-4">
                                    <div class="col-lg-6">
                                        <div class="border-bottom rounded">
                                            <input name = "name" type="text" class="form-control border-0 me-4" placeholder="اسم*">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="border-bottom rounded">
                                            <input name ="email" type="email" class="form-control border-0" placeholder="ایمیل*">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="border-bottom rounded my-4">
                                            <textarea name="message" id="" class="form-control border-0" cols="30" rows="8" placeholder="نظر شما *" spellcheck="false"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="border-bottom rounded my-4">
                                            {{ form.captcha }}  <!-- This will render the captcha field -->
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="d-flex justify-content-between py-3 mb-5">
                                            <div class="d-flex align-items-center">
                                                <p class="mb-0 me-3">Please rate:</p>
                                                <div class="d-flex align-items-center" style="font-size: 12px;">
                                                    <i class="fa fa-star text-muted"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <button  type='submit'  class="btn border border-secondary text-primary rounded-pill px-4 py-3"> ارسال</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="row g-4 fruite">
                            <div class="col-lg-12">
                                
                            {% shopcategory %}
                            </div>
                            {% discount_tag %}
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
                <h1 class="fw-bold mb-0" style="font-family: 'Vazir', sans-serif;direction: rtl;">محصولات مشابه</h1>
                <div class="vesitable">
                    
                    <div class="owl-carousel vegetable-carousel justify-content-center">
                        {% for product in products_offer %}
                            
                            <div class="border border-primary rounded position-relative vesitable-item">
                                <div class="vesitable-img">
                                    <img src="{{product.image.url}}" class="img-fluid w-100 rounded-top" alt="">
                                </div>
                                <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">
                                    {{ product.name }}
                                </div>
                                <div class="p-4 pb-0 rounded-bottom">
                                    <h4 style="font-family: 'Vazir', sans-serif;">{{ product.name }}</h4>
                                    <p>{{product|truncatewords:10}}</p>
                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                        <p class="text-dark fs-5 fw-bold">{{ product.price }}</p>
                                        <a href="{% url 'shop:add_to_cart' product.id %}" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary">
                                            <i class="fa fa-shopping-bag me-2 text-primary"></i> افزودن به سبد
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        {% endfor %}
                    </div>
                    
                   
                </div>
            </div>
        </div>
        <!-- Single Product End -->
    
   {% endblock %}
</html>