{% extends 'base.html' %}
{% load static %}
{% block content%}


   


        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">ارتباط باما</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'website:index' %}">خانه</a></li>
                
                <li class="breadcrumb-item active text-white">ارتباط با ما</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- Contact Start -->
       
        <div class="container py-5" style="margin-top: 100px;">
            <div class="row g-5">
                <div class="col-lg-6">
                    <h1 class="mb-4">ارتباط باما</h1>
                    <p>
                        با ما در تماس باشید.<br>

                        تلفن : 02177670973<br> 
                        
                        موبایل :09214986156
                        
                        آدرس :<br>
                        
                        تهران ، خیابان انقلاب ، روبروی پیچ شمیران ، پلاک 352 ، طبقه 6 ، واحد 31
                        
                        :ایمیل
                        Info@kashangol.com
                    </p>
  
                </div>
               
            </div>
        </div>
        <!-- Contact End -->


    {% endblock %}
</html>